body {
  background-color: #12120C;
  background-image: url('/assets/images/bkgd_horizontal.png');
  background-repeat: repeat;
  font-family: Verdana, sans-serif;
}

/* ===================== HEADER STUFF ===================== */
header {
    height: 40px;
}

header .progressbar {
    padding-bottom: 5px;
    font-family: 'Droid Sans', sans-serif !important;
    font-size: 12pt !important;
}

header .progressbar .indicator {
    display: inline-block;
    min-width: 130px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-top: 2px;
    margin-right: 3px;
    /*border: 1px solid red;*/
    background-color: #333333;
    background-repeat: no-repeat;
    background-position:center;
    color: #808080;
    white-space: nowrap;
}

header .done {
    /*background-image: url('/images/arrow2_green.png');*/
    background-color: #40B34F !important;
    color: white !important;
}

/*header .todo {
    background-color: #333333;
    background-repeat: no-repeat;
    background-position:center;
    color: #808080;
}*/

header .hide {
    display:none;
}
/* ===================== HEADER STUFF ===================== */

.teacher-dashboard {
  border-collapse: collapse;
  width: 100%;
}

.teacher-dashboard tr.phase > * {
  vertical-align: middle;
}

.teacher-dashboard tr.phase {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  background-color: rgba(0,0,0,0.3);
  padding-right: 50px;
  padding-left: 50px;
}

.teacher-dashboard tr.phase:nth-child(even) {
  background-color: black;
  background-color: rgba(0,0,0,0.6);
}

.teacher-dashboard tr.phase > th {
  color: white;
  font-weight: bold;
  width: 15ex;
  margin-left: 10px;
  margin-top: 12px;
  font-size: 20px;
  padding-left:20px;
  text-align: left;
  padding-right: 20px;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.teacher-dashboard tr.phase > .buttons {
  line-height: 50px;
  white-space: nowrap;
}

.teacher-dashboard tr.phase > .students {
  margin-left: 15px;
  white-space: normal;
  min-width: 40%;
}

button {
  color: black;
  cursor: pointer;
  border: 2px;
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  font-size: 19px;
  -webkit-transition: box-shadow 2s;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgb(64, 179, 79)
}

button:active {
  background-color: rgb(204, 269, 109)
}

.teacher-button-done {
  background-color: rgb(64, 179, 79);
  opacity: 0.5;
}

tr.current .teacher-button-done {
  opacity: 1.0;
}

.teacher-button-primed {
  box-shadow: #ff4 0px 0px 9px 4px;
  color: #ff4;
  border: 2px solid #ff4;
}

.teacher-button-faded {
  opacity: 0.5;
  background-color: #eee;
}

tr.phase.current {
  background-color: rgba(255,255,200,0.4) !important;
}

tr.phase.current th {
  color: black !important;
}

.student {
  display: inline-block;
  background: gray;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  padding: 4px;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}

.team-Darwin    { background-color: blue; }
.team-Linneaus  { background-color: purple; }
.team-Lamarck   { background-color: red; }
.team-Wallace   { background-color: green; }

.team-Mendel    { background-color: blue; }
.team-Lyell     { background-color: purple; }
.team-Huxley    { background-color: red; }
.team-Mathus    { background-color: green; }