@charset "UTF-8";

body {
  background-color: #12120C;
  background-image: url('/assets/images/bkgd_horizontal.png');
  background-repeat: repeat;
  font-family: Verdana, sans-serif;
}

/* ===================== HEADER STUFF ===================== */
header {
    height: 40px;
}

header .progressbar {
    padding-bottom: 5px;
    font-family: 'Droid Sans', sans-serif !important;
    font-size: 12pt !important;
}

header .progressbar .indicator {
    display: inline-block;
    min-width: 130px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-top: 2px;
    margin-right: 3px;
    /*border: 1px solid red;*/
    background-color: #333333;
    background-repeat: no-repeat;
    background-position:center;
    color: #808080;
    white-space: nowrap;
}

header .done {
    /*background-image: url('/images/arrow2_green.png');*/
    background-color: #40B34F !important;
    color: white !important;
}

/*header .todo {
    background-color: #333333;
    background-repeat: no-repeat;
    background-position:center;
    color: #808080;
}*/

header .hide {
    display:none;
}
/* ===================== HEADER STUFF ===================== */

.teacher-dashboard {
  border-collapse: collapse;
  width: 100%;

  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-top: 5px solid black;
}

.teacher-dashboard tr.phase > * {
  vertical-align: middle;
}

.teacher-dashboard tr.phase {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  background-color: rgba(0,0,0,0.3);
  padding-right: 50px;
  padding-left: 50px;
}

.teacher-dashboard tr.phase:nth-child(even) {
  background-color: black;
  background-color: rgba(0,0,0,0.6);
}

.teacher-dashboard tr.phase > th {
  height: 90px;
  color: white;
  font-weight: bold;
  width: 15ex;
  margin-left: 10px;
  margin-top: 12px;
  font-size: 20px;
  padding-left:20px;
  text-align: left;
  padding-right: 20px;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.teacher-dashboard tr.phase > .buttons {
  line-height: 50px;
  /*white-space: nowrap;*/
}

.teacher-dashboard tr.phase > .students {
  margin-left: 15px;
  white-space: normal;
  min-width: 40%;
}

button {
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  font-size: 19px;
  -webkit-transition: box-shadow 2s;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgb(64, 179, 79);
  margin-top: 6px;
  margin-bottom: 6px;
}

button:active {
  background-color: rgb(204, 269, 109)
}

.teacher-button-done {
  /*background-color: rgb(64, 179, 79);
  opacity: 0.5;*/

  display: none;
}

tr.current .teacher-button-done {
  /*opacity: 1.0;*/
}

.teacher-button-primed {
  color: #ff4;
  border: 2px solid #ff4;
}

.teacher-button-faded {
  opacity: 0.5;
  background-color: #eee;
}

tr.phase th {
  border-left: 7px solid rgba(0,0,0,0.7);
}

tr.phase.current {
  background-color: rgba(255,255,200,0.4) !important;
}

tr.phase.current th {
  color: black !important;
  border-left: 7px solid #ff4;
}

.ready {
  border: 1px solid #ff4;
  box-shadow: #ff4 0 0 9px 1px;
  color: #ff4 !important;

  -webkit-animation-name: pulseFade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
}

.student {
  display: inline-block;
  background: gray;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  padding: 4px;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}

.student.ready:before {
  content: "✓ ";
}

.phase .objective {
  text-align: center;
  color: #999;
  line-height: 12px;
  background: rgba(0,0,0,0.5);
  padding: 8px;
  border-radius: 10px;
  margin-right: 48px;
  max-width: 220px;
}

.phase .objective .count {
  color: white;
  display: block;
  font-size: 200%;
  line-height: 100%;
}

.team-Darwin   { background-color: #001BDB; }
.team-Dawkins  { background-color: #6B00FF; }
.team-Hook     { background-color: #009EF2; }
.team-Hutton   { background-color: #0BDBB2; }

.team-Lamarck  { background-color: #00F339; }
.team-Linneaus { background-color: #3CFF00; }
.team-Lyell    { background-color: #CDDB00; }
.team-Malthus  { background-color: #F2C500; }

.team-Mayr     { background-color: #DB8A0B; }
.team-Wallace  { background-color: #F35000; }
.team-Wilson   { background-color: #FF0008; }
.team-Wright   { background-color: #D600DB; }

@-webkit-keyframes pulseFade {
  0% {
    box-shadow: #ff4 0 0 9px 1px; 
  }

  50% {
    box-shadow: #ff4 0 0 0 1px; 
  }

  100% {
    box-shadow: #ff4 0 0 9px 1px; 
  } 
}